ol.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

ol.pokemons li{
    display: flex;
    flex-direction: column;
    margin: 5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #14885f;
    color: #fff;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}