* {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f6f8fc;
}
.content {
    height: 100%;
    width: 100vw;
    padding: 1rem;
    background-color: #fff; 
}

h1 {
    padding-left: 1rem;
}

@media screen and (min-width: 992px) {
    .content{
        max-width: 992px;
        max-height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 380px) {
    .pokemons{
        grid-template-columns: 1fr 1fr ;
    }
}

